<div class="table-layout">
  <div class="pivot">
      {{partial "graph_editor"}}
  </div>

  <div>
    <label for="start-at">Start {{name}} at:</label>
    {{input id="start-at" type="text" value=startAt class="form-control"}}
  </div>
</div>
