{{view inputView}}

<div class="algo-input">
  <button class="btn btn-default" {{action 'start'}}>Start</button>
  <button class="algo-next btn btn-default" {{action 'next'}}>Next step</button>
</div>
